[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = ">=1.4"
alembic = "*"
pydantic = "*"
python-multipart = "*"
apscheduler = "*"
bcrypt = "==4.0.1"
pydantic-settings = "*"
uvicorn = {extras = ["standard"], version = "*"}
passlib = {extras = ["bcrypt"], version = "==1.7.4"}

[dev-packages]

[requires]
python_version = "3.14"
